body{
    background-image: url("../shipnika-lifeofpix-368587368616.png");
    background-position: center;
    background-size: cover;
    height: 100vh;


}
.content h1{
    font-size: 60px;
    color: white;
}
p#quote{
    font-family:'Edu TAS Beginner', sans-serif ;
    color: white;
    font-size: 30px;
}
button.btn{
    padding: 10px 30px 10px 30px;
}